.Welcome {
    display: grid;
    grid-row: 100%;
    background-color: rgba(235, 47, 87, 1);
    text-align: center;
    color: rgb(255, 255, 255);
}
:root {
    --wallColor:  rgb(62, 132, 30);
    --doorColor: rgb(238, 66, 66);
}

.player {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: aqua;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    z-index: 6;
}

#gameArea {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: antiquewhite;
    height: 700px;
    width: 700px;
}

#roomHorizontal, #roomVertical {
    display: none;
}

.room  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(208, 255, 186);
    height: 100px;
    width: 100px;
}

.topWall{
    position: absolute;
    left: 0;
    background-color: var(--wallColor);
    height: 5%;
    width: 100%;
}

.bottomWall {
    position: absolute;
    left: 0;
    top: 95%;
    background-color: var(--wallColor);
    height: 5%;
    width: 100%;
}

.rightUpWall {
    position: absolute;
    left: 95%;
    background-color: var(--wallColor);
    height: 33%;
    width: 5%;
}

.rightDownWall {
    position: absolute;
    left: 95%;
    top: 66%;
    background-color: var(--wallColor);
    height: 33%;
    width: 5%;
}

.leftUpWall {
    position: absolute;
    left: 0;
    background-color: var(--wallColor);
    height: 33%;
    width: 5%;
}

.leftDownWall {
    position: absolute;
    left: 0%;
    top: 66%;
    background-color: var(--wallColor);
    height: 33%;
    width: 5%;
}

.rightDoor{
    display: none;
    position: absolute;
    left: 95%;
    top: 33%;
    background-color: var(--doorColor);
    height: 33%;
    width: 5%;
}

.leftDoor{
    display: none;
    position: absolute;
    left: 0;
    top: 33%;
    background-color: var(--doorColor);
    height: 33%;
    width: 5%;
}